<html>

    <head>
        <title>EZTXT</title>
        <link rel="icon" sizes="512x512" href="_login/res/logo-3.png">
        <link rel="stylesheet" href="https://cdn.statically.io/gh/GsLibrary/Library/main/Fonts.css">
        <link rel="stylesheet" href="_login/style.css">
    </head>

    <body>
		<div class="containment">
            <div class="site">
                <img id="indexlogo" src="_login/res/logo-2.png">
                <p id="motto">A place to communicate with others via the web.</p>
            </div>
            <div class="form">
                <form action="/login" method="POST">
                    <div class="formdata">
                        <input type="text" id="username" name="username" placeholder="Username">
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="formbutton">
                        <input type="submit" id="login" name="action" value="Login">
                        <input type="submit" id="register" name="action" value="Register">
                    </div>
                </form>
                <footer>Version <span id="footerversion">0.0.0</span> of <b>EZTXT</b></footer>
            </div>
        </div>
         
        <script src="_login/script.js"></script>
    </body>

</html>
